<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block titulo %}
    <title> Bienvenido Admin: {{user}}</title>
    {% endblock titulo%}
</head>
<body>
    {% block content %}
    {% if user.is_staff %}
     <div class="container">
         <div class="row">
            <h3>Ordenes pendientes</h3>
            
                {% for orden in ordenes %}
                <div class="z-depth-1 col m12 " style="border-radius: 3px; padding: 7px;">
                    <div class="img col m1">
                        <img class="circle responsive-img " src="{{ orden.autor.profile.image.url }}"  width="60" height="auto">
                    </div>
                    <div class="autor col m11">
                            <a href="#">{{ orden.autor }}</a>
                    </div>
                    <div class="metadata col m12">
                        <small class="text-muted">{{ orden.fecha|date:"F d, Y" }}</small>
                    </div>
                    <div>
                        {{ orden.contenido }}
                    </div>
                    <img src="/media/{{ orden.imagen }}" width="600" height="auto" alt="">
                    
                </div>
                {% endfor %}
            
         </div>
     </div>
    {% else %}
    <h3> Usted no esta autorizado para entrar en esta pagina</h3>
    <META HTTP-EQUIV="REFRESH" CONTENT="3;URL='http://127.0.0.1:8000'">
    {% endif %}
    
    {% endblock content %}
    
</body>
</html>