<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/materialize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.css">
    
    {% block titulo %}
    {% endblock %}
    
</head>
<body>
    <header>
        <nav >
            <div class="col-xs-12"> 
                <ul class="menu">
                    <img src="{% static 'img/logo3.png' %}" class="img-small" alt="">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'somos' %}">Quienes somos</a></li>
                    <li><a href="{% url 'contactenos' %}">Contáctanos</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Mi cuenta</a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}">Mi cuenta</a></li>
                    {% endif %}
                </ul> 
            </div>
        </nav>
    </header>
    {% block content %}

    {% endblock content %}
    
    <footer class="barraInferior">
        <div class="col s12  m4"><h3 class="texto-blanco"></h3></div>
        <p class="col s12  m4">Desarrollo web y mobile, Duoc UC</p class="col s12 m4">
          <div class="row verde-main middle-xs">
            <div class="col s12 m3">
                <h3>+56 9 32145978</h3>
            </div>
            <div class="col-xs-12 col-md-6">
                    <h3></h3>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="row center-xs">
                    <div class="col-xs-1 col-md-2">
                        <a href="https://www.facebook.com" ><i class="fab fa-2x fa-facebook-square"></i></a>
                    </div>
                    <div class="col-xs-1 col-md-2">
                        <a href="#" ><i class="fab fa-2x fa-google-plus-g"></i></a>
                    </div>
                    <div class="col-xs-1 col-md-2">
                        <a href="https://www.instagram.com/?hl=es-la" >    <i class="fab fa-2x fa-instagram"></i></a>
                    </div>
                    <div class="col-xs-1 col-md-2">
                        <a href="#" ><i class="far fa-2x fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/jquery.validate.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>