<!DOCTYPE html>

<html lang="es">
<head>
  {% extends 'base.html' %} 
  {% load static %}
    <link rel="stylesheet" type= "text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pignus</title>
  
</head>
</head>
<body>
  {% block content %}
  
    <div class="no-xs col-sm-12 centrar">
        <h1>
            Protegete con nosotros 
        </h1>
    </div class="col-xs-12 col-sm-4 no-xs">
   
    <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-6 texto-derecha margin-top-xs">
            <h1>Conozca la tecnología pignus</h1>
            <p>Controle desde su celular sin pagar monitoreo de manera comoda y simple, a solo un par de clicks</p>
            <img src="{% static 'img/logo.png' %}" width="300" alt="">
          </div>
          <br>
          <div class="col-xs-12 col-sm-6 margin-top-xs ">
            <img src="{% static 'img/hikvision.jpg' %}" width="300" alt="">
            <h1>Colaboración</h1>
            <p>Nuestra empresa no solo trabaja con tecnología Pigmus si no que tambien somos socios con la marca hikvision</p>
            <button onclick="location.href='https://www.hikvision.com/es-la'">Campañas</button>
          </div>
        </div>
      </div>
     
      {% endblock content %}



</body>
</html>