<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Login</title>
    </head>
    <body>
        <div class="container">
                {% if messages %}
                {% for message in messages %}
                    <div class="M.toast({html: 'I am a toast'})">
                        {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
                {% block content %}
                <div class="content">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form">
                            <legend class="button"> Unete hoy!</legend>
                            {{form.as_p}}
                        </fieldset>
                        <br>
                        <div class="form-group">
                            <button class="btn waves-effect waves-light" type="submit"> Iniciar sesion</button>
                
                        </div>
                    </form>
                    <div class="borde">
                        <small class="texto"> 
                            Necesitas una cuenta?<a href="{% url 'register' %}"> Registrame </a>
                        </small>
                    </div>
                </div>
            {% endblock content%}
        </div>
    
    </body>
</html>