<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block titulo %}
    <title> Bienvenido {{user}}</title>
    {% endblock titulo%}
</head>
<body>
    {% block content %}
    
<div class="container ">
    <br>
    <div class="row z-depth-1" style="border-radius: 3px; background-color: #e4f2f5">
        <div class="perfil">
            <div class="col xl2 foto">       
                 <img class="circle" src="{{ user.profile.image.url }}" alt="error" width="120" height="auto">
            </div>
            <div class="col xl10infor">
                 <h3 style="font-weight: bold;">{{user.username}}</h3>
                 <li>Contacto : {{user.email}}</li>
            </div>
              
        </div>
       
    </div>

    <div class="row z-depth-1" style="border-radius: 3px; background-color: #e4f2f5">
        <h3> Genera tu orden de instalacion </h3>
        <div class="new right" style="margin: 3px;">
            <a href="{% url 'post-create' %}"><Button class="waves-effect waves-light btn">Generar orden</Button></a>
    </div>
    </div>

    {% for orden in ordenes %}
    <div class="cuerpo col m12 ">
        <div class="img col m1">
            <img class="circle responsive-img " src="{{ orden.autor.profile.image.url }}"  width="60" height="auto">
        </div>
        <div class="autor col m11">
                <a href="#">{{ orden.autor }}</a>
        </div>
        <div class="metadata col m12">
            <small class="text-muted">{{ orden.fecha|date:"F d, Y" }}</small>
        </div>
        <div>
            {{ orden.contenido }}
        </div>
        <img src="/media/{{ orden.imagen }}" width="600" height="auto" alt="">
        
    </div>
    {% endfor %}
       
{% endblock content%}
</body>
</html>