<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="es">
    <head>
        <title>Registro</title>

    </head>
 
    <body>
     
        <div class="container">
            {% if messages %}
            {% for message in messages %}
                <div class="M.toast({html: 'I am a toast'})">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        
        <div class="content">
            <form method="POST" class="z-depth-3" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form">
                    <legend class="button">Unete Hoy</legend>
                    <h6 class="dark-light">{{ form }}</h6>
                                            
                </fieldset>
                <br>
                <div class="form-group">
                    <button class="btn waves-effect waves-light" type="submit"> Registrarme</button>
        
                </div>
            </form>
            <div class="borde">
                <small class="texto"> 
                <h5> Ya tengo una cuenta <a href="{% url 'login' %}"> Login </a> </h5>
                </small>
            </div>
        </div>
        {% endblock content%}
    </div>
        <footer class="barraInferior">
        <div class="col-xs-12 col-sm-4"><h3 class="texto-blanco"></h3></div>
        <p class="col-xs-12 col-sm-4">Desarrollo web y mobile, Duoc UC</p class="col-xs-12 col-sm-4 no-xs">
            <div class="row verde-main middle-xs">
            <div class="col-xs-12 col-md-3">
                <h3>+56 9 32145978</h3>
            </div>
            <div class="col-xs-12 col-md-6">
                    <h3></h3>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="row center-xs">
                    <div class="col-xs-1 col-md-2">
                        <a href="https://www.facebook.com" ><i class="fab fa-2x fa-facebook-square"></i></a>
                    </div>
                    <div class="col-xs-1 col-md-2">
                        <a href="#" ><i class="fab fa-2x fa-google-plus-g"></i></a>
                    </div>
                    <div class="col-xs-1 col-md-2">
                        <a href="https://www.instagram.com/?hl=es-la" >    <i class="fab fa-2x fa-instagram"></i></a>
                    </div>
                    <div class="col-xs-1 col-md-2">
                        <a href="#" ><i class="far fa-2x fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        </footer>


  
    </body>
</html>