header{
    color: rgb(187, 80, 9);
}
body{
    background-color: rgb(151, 135, 129);
}
.centrar{
    text-align: center;
}
.img-fluid {
    max-width: 85%;
    height: auto;
}
.img-small{
    max-width: 30%;
    height: auto;
}
@media (max-width: 576px) {
    .no-xs{
        display: none;
    }
}
nav{
    background: rgb(255, 105, 5);

}
.menu{
    text-align: center;
}
.menu li{
    display: inline-block;
    
    
}
.menu a{
    padding: 45px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    
}
.menu a:hover{
    background-color:  rgb(187, 80, 9);
}
.centro{
    overflow: hidden;
}
.barraInferior{
    background-color: rgb(187, 80, 9);
}

/*          ...:::Quienes Somos:::...           */

.nosotros{
    width:400px; 
    height:300px;
}
.mision{
    width: 300px;
    height: 350px;
}
.vision{
    width: 350px;
    height: 300px;
}