<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Generar Orden</title>
</head>
<body>
    {% block content %}
    <br>
    <div class="container">
        <br>
            <form method="POST" class="z-depth-2" enctype="multipart/form-data"  style="padding: 10px; margin: 10px;border-radius: 4px;"> 
                {% csrf_token %}
            <fieldset class="form">
                <legend class="button"> Nueva Receta </legend>
            
                {{ form }}
                <br>
            
            </fieldset>
                <br>
            <div class="form-group">
                <button class="btn waves-effect waves-light" type="submit"> Enviar</button>
        
            </div>
        </form>
    </div>
    {% endblock content %}
    
</body>
</html>